/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@mixin flex {
    display: flex
}

@mixin f-center {
    justify-content: center;
}

.container{
    margin-top: 15px;
}

.navbar-menu {
    @include flex();
    flex-direction: column;
    background-color: darkgray;
    
}

#navDiv .mat-button {
    margin: 5px 0px 5px 0px;
}

#navDiv .mat-button:hover {
    margin: 5px 0px 5px 0px;
    background-color: rgb(214, 214, 214);
}

.account-nav-box {
    background-color: darkgray;
}

.main-color{
    background-color: cadetblue;
}

.account-nav-box .mat-menu-item{
    font-weight: 500;
    color: black
}

.account-nav-box .mat-menu-item:hover{
    font-weight: 500;
    color: black;
    background-color: rgb(214, 214, 214);
}

.navbar-login-div{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.margin-r{
    margin-right: 10px;
}

.input-field{
    background-color: rgb(175, 175, 175);
}

.register, .login{
    @include flex();
    @include f-center();
}

.register-box, .login-box {
    padding: 1rem;
    margin-top: 40px;
}

.span-center{
    align-items: center;
}

.error{
    color: red;
    font-style: italic;
}

.login-question{
    margin-top: 1rem;
    font-style: italic;
    font-size: 11px;
}

.ads-box{
    // margin: 0px 15rem 0px 15rem;
    // height: 250px;
    // width: 800px;
    @include flex();
    @include f-center();   
}

.img-ads{
    border-radius: 10px;
    height: 100%;
    width: 100%;
}

.mat-ink-bar {
    display: none !important;
}

.mat-tab-label-active{
    background-color: rgb(204, 204, 204);
    border-radius: 0px 0px 10px 10px;
}

.arrow-div{
    @include flex();
    align-items: center;
    margin: 0px 10px 0px 5px;
}

.arrow-div:hover{
    cursor: pointer;
}

.arrow-icon {
    font-size: 30px;
}

.div-flex{
    @include flex();
}

.button-nav{
    float: right;
    margin-right: 20px;
    position:fixed;
    top: 15px;
    right: 0px;
}

.menu-button{
    border: 3px solid black;
    border-radius: 10px;
    font-size: 30px;
}

.menu-box{
    background-color: rgb(235, 235, 235);
    border: 1px solid black;
    border-radius: 5px;
}

.menu-text{
    margin: 40px 10px 10px 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#menuText a{
    font-size: 25px;
    margin: 5px 0px 5px 0px;
}

.close-menu{
    position: absolute;
    right: 15px;
    font-size: 40px;
}

.close-menu:hover{
    cursor: pointer;
    color: gray
}
