/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@mixin flex {
    display: flex
}

@mixin f-center {
    justify-content: center;
}

.container{
    @include flex();
    width: 70%;
}

.container-main{
    @include flex();
    @include f-center();
}

.navbar {
    @include flex();
    @include f-center();
    background-color: darkgray;
    
}

#navDiv .mat-button {
    margin: 5px 0px 5px 0px;
}

#navDiv .mat-button:hover {
    margin: 5px 0px 5px 0px;
    background-color: rgb(214, 214, 214);
}

.account-nav-box {
    background-color: darkgray;
}

.main-color{
    background-color: cadetblue;
}

.account-nav-box .mat-menu-item{
    font-weight: 500;
    color: black
}

.account-nav-box .mat-menu-item:hover{
    font-weight: 500;
    color: black;
    background-color: rgb(214, 214, 214);
}

.navbar-login-div{
    margin-left: auto;
}

.margin-r{
    margin-right: 10px;
}

.input-field{
    background-color: rgb(175, 175, 175);
}

.register, .login{
    @include flex();
    @include f-center();
}

.register-box, .login-box {
    border: 1px solid black;
    border-radius: 5px;
    padding: 1rem;
    box-shadow: 0 0 1em gray;
}

.span-center{
    align-items: center;
}

.error{
    color: red;
    font-style: italic;
}

.login-question{
    margin-top: 1rem;
    font-style: italic;
    font-size: 11px;
}